.burger {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-left: 50px;
    background: none;
    transition: border linear .2s;
    position: relative;
}

.burger_color_red:hover {
    border: 2px solid #cb413f;
}


.burger_color_black:hover {
    border: 2px solid #222;
}

.burger__line {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: #222;
    transition: all cubic-bezier(.76,0,.24,1) .4s;
}

.burger__line:first-child {
    top: 22px;
    left: 15px;
}

.burger__line:nth-child(2) {
    bottom: 22px;
    right: 15px;
}

.burger_color_red:hover .burger__line:nth-child(2) {
    transform: scaleX(1.2) translateX(-50%);
}

.burger_color_red:hover .burger__line:first-child {
    transform: scaleX(1.2) translateX(50%);
}
