.workouts {
    width: 1100px;
    margin: 50px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    margin: 0;
    font-family: 'Rubik Mono One', 'sans-serif';
    font-size: 36px;
    color: #222222;
}

.workouts__body {
    position: relative;
}

.action__icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: fill ease-in-out .3s;
}

.action__icon:hover {
    fill: #cb413f;
}

.subtable {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.subtable.active {
    max-height: 500px;
    transition: max-height .5s;
}

.exercise {
    background: #cb413f;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 10px;
}

.exercise__icon {
    width: 45px;
    height: 45px;
}

.exercise__icon img {
    max-width: 100%;
    max-height: 100%;
}

.action__icon {
    transform: rotate(0);
    transition: all ease-in-out .3s;
}

.action__icon.active {
    transition: all ease-in-out .3s;
    transform: rotate(180deg);
}

.exercise__title {
    max-width: 200px;
    width: 100%;
}

.exercise-label {
    margin-bottom: 12px;
}

